<!DOCTYPE html>

<!-- TESTING COMPLETED ON GOOGLE CHROME -->

<html>
<head>
	<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
	<script src="../static/app.js" type="text/javascript">
	</script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js" type="text/javascript">
	</script>
	<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	      google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);
	</script>
	<meta content="initial-scale=1.0, user-scalable=no" name="viewport">
	<meta charset="utf-8">

	<title>Dublin Bikes Live</title>
</head>

<body>
	<div id="map">
	</div>


	<div id="title">
		Hello.
	</div>


	<div id="message">
		Live and historical Dublin Bikes Info | Free for Everyone.
	</div>


	<div id="drop_downs">
		<select id="stations_drop" name="Stations">
			<option disabled="disabled" selected="selected">
				Select a station
			</option>
		</select> <select id="days_drop" name="Days">
			<option disabled="disabled" selected="selected">
				Select a day
			</option>

			<option value="2">
				Monday
			</option>

			<option value="3">
				Tuesday
			</option>

			<option value="4">
				Wednesday
			</option>

			<option value="5">
				Thursday
			</option>

			<option value="6">
				Friday
			</option>

			<option value="7">
				Saturday
			</option>

			<option value="1">
				Sunday
			</option>
		</select> <button onclick="myFunction()">Live Weather</button>
	</div>


	<div id="charts_div">
		<div id="weatherblock">
			<div class="weather-app">
				<div class="left">
					<div class="temperature">
						<span id="temperature">0</span>&deg;
					</div>


					<div class="location">
						<span id="location">Unknown</span>
					</div>
				</div>


				<div class="right">
					<div class="top"><img id="icon" src="imgs/codes/200.png" width="75px">
					</div>


					<div class="bottom">
						<div class="wind">
							<span id="wind">0</span> kph <span id="direction">N</span>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="chart" id="daily_chart">
		</div>


		<div class="chart" id="weekly_chart">
		</div>
	</div>

<script>
	//function to show an hide the weather block
	function myFunction() {
		var x = document.getElementById('weatherblock');
		if (!x.style.display || x.style.display == "none") {
			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
	}
var APPID = "4cd167bc85dff937818ea9a5eb6fa550";
var temp;
var loc;
var icon;
var wind;
var direction;
var city_id = "2964574"

function updateByZip(city_id) {
	var url = "http://api.openweathermap.org/data/2.5/weather?q=DublinIE&APPID=4cd167bc85dff937818ea9a5eb6fa550";
	sendRequest(url);
}
//function to update weather variables
function sendRequest(url) {
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			var data = JSON.parse(xmlhttp.responseText);
			var weather = {};
			weather.icon = data.weather[0].icon;
			weather.wind = speedo(data.wind.speed);
			weather.temp = kelvin2c(data.main.temp);
			weather.direction = degdir(data.wind.deg);
			weather.loc = "Dublin City";
			update(weather);
		}
	};
	xmlhttp.open("GET", url, true);
	xmlhttp.send();
}
//function to convert raw temperature data
function kelvin2c(k) {
	return Math.round(k - 273.15);
}
//function to convert raw wind speed from mph to kph
function speedo(k) {
	return Math.round(k * 1.609);
}
//function to define the wind direction (degrees to common directional terms)
function degdir(degrees) {
	var range = 360 / 16;
	var low = 360 - range / 2 % 360;
	var high = low + range;
	var angles = ["North", "NNE", "ENE", "East", "ESE", "SE", "SSE", "South", "SSW", "SW", "WSW", "W", "WNW", "NW", "NNW"]
	for (i in angles) {
		if (degrees >= low && degrees < high) return angles[i];
		low = (low + range) % 360;
		high = (high + range) % 360;
	}
}
//function to update weather variables
function update(weather) {
	wind.innerHTML = weather.wind;
	direction.innerHTML = weather.direction;
	loc.innerHTML = weather.loc;
	icon.src = "http://openweathermap.org/img/w/" + weather.icon + ".png";
	temp.innerHTML = weather.temp;
}
//function to populate stations
function pop_stations_list() {
	var stations_drop = $('#stations_drop');
	$.getJSON("/stations", function(data) {
		if ('stations' in data) {
			var stations = data.stations;
			console.log('stations', stations);
			_.forEach(stations, function(station) {
				//console.log(station.name, station.number);
				stations_drop.append($('<option>', {
					value: station.number,
					text: station.address
				}, '</option>'));
			})
		}
	})
};
// this section means that the weather and station data is to be loaded when the page is loaded.
window.onload = function() {
		temp = document.getElementById("temperature");
		loc = document.getElementById("location");
		icon = document.getElementById("icon");
		wind = document.getElementById("wind");
		direction = document.getElementById("direction");
		updateByZip(2964574);
		pop_stations_list();
	}
	//function to initialize the map area
function initMap() {
	var myLatLng = {
		lat: 53.349,
		lng: -6.27
	};
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: myLatLng
	});
	var contentString = '<div id="content">' + '<div id="siteNotice">' + '<\/div>' + '<h1 id="firstHeading" class="firstHeading">Loading...<\/h1>' + '<div id="bodyContent">' + '<p id="current_data"><b>Loading...<\/b><\/p>' + '<\/div>' + '<\/div>';
	var infowindow = new google.maps.InfoWindow({
		content: contentString
	});
	//function that plots the markers on the map depending on their latitude and longitude
	function showStationMarkers(data) {
		$.getJSON("http://127.0.0.1:5000/stations", function(data) {
			if ('stations' in data) {
				var stations = data.stations;
				console.log('stations', stations);
				_.forEach(stations, function(station) {
					//console.log(station.name, station.number);
					var marker = new google.maps.Marker({
						position: {
							lat: station.lat,
							lng: station.lng
						},
						map: map,
						station_number: station.number,
						address: station.address,
						animation: google.maps.Animation.DROP,
						percent: station.percent
					});
					//how the map markers are coloured depending on their percentage of occupancy. (red/yellow/green)
					if (marker.percent >= 0.5) {
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
					} else if (marker.percent >= 0.2) {
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png');
					} else if (marker.percent < 0.2) {
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
					}
					//set of events and animations to improve marker interactivity.
					marker.addListener('click', toggleBounce);

					function toggleBounce() {
						if (marker.getAnimation() !== null) {
							marker.setAnimation(null);
						} else {
							marker.setAnimation(google.maps.Animation.BOUNCE);
							marker.setAnimation(4);
						}
					}
					//move current position on map to centre on new clicked marker.
					map.addListener('center_changed', function() {
						// 3 seconds after the center of the map has changed, pan back to the
						// marker.
						window.setTimeout(function() {
							map.panTo(marker.getPosition());
						}, 3000000);
					});
					marker.addListener('click', function() {
						map.setZoom(15);
						var d = new Date();
						var today = d.getDay();
						today++;
						map.setCenter(marker.getPosition());
						document.getElementById('stations_drop').value = station.number;
						document.getElementById('days_drop').value = today;
						run_weekly();
						run_daily();
					});
					//Displays loading until there is a reponse with the updated information in the marker info box
					marker.addListener('click', function() {
						infowindow.open(map, marker);
						var current_address = $('#firstHeading');
						var current_data = $('#current_data');
						current_address.replaceWith("<h1 id='firstHeading'>Loading...<\/h1>");
						current_data.replaceWith("<p id='current_data'>Loading...<\/p>");
						run_current(marker.station_number, station.address);
					});
				});
			}
		})
	};
	//call to display the markers
	showStationMarkers();
};
// this function will assign the avalibale bikes and available spaces to the info boxes.
function run_current(station_num, address) {
	$.getJSON("http://127.0.0.1:5000/current/" + station_num, function(data) {
		if ('available' in data) {
			var current = data.available;
			console.log('weekly_chart_data', current);
			var current_address = $('#firstHeading');
			var current_data = $('#current_data');
			current_address.replaceWith("<h1 id='firstHeading'>" + address + "<\/h1>");
			current_data.replaceWith("<p id='current_data'>Available bikes: " + current[0].available_bikes + "<br><br>Available stands: " + current[0].available_bike_stands + "<\/p>");
		}
	})
};
$("#stations_drop").change(function() {
	run_weekly();
	run_daily();
});
$("#days_drop").change(function() {
	run_daily();
});

function run_weekly() {
	var stations_value = $('#stations_drop').val();
	$.getJSON("http://127.0.0.1:5000/available_weekly/" + stations_value, function(data) {
		if ('available' in data) {
			var available = data.available;
			console.log('weekly_chart_data', available);
			drawChart(available);
		}
	})
};

function run_daily() {
	var stations_value = $('#stations_drop').val();
	var day_value = $('#days_drop').val();
	$.getJSON("http://127.0.0.1:5000/available_daily/" + stations_value + "/" + day_value, function(data) {
		if ('available' in data) {
			var available = data.available;
			console.log('daily_chart_data', available);
			drawDailyChart(available);
		}
	})
};
// this function draws the chart showing the average usage per day
function drawChart(available) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Day');
	data.addColumn('number', 'Bikes Available');
	data.addRows([
		['Mon', parseInt(available[1].avg_bikes)],
		['Tue', parseInt(available[2].avg_bikes)],
		['Wed', parseInt(available[3].avg_bikes)],
		['Thu', parseInt(available[4].avg_bikes)],
		['Fri', parseInt(available[5].avg_bikes)],
		['Sat', parseInt(available[6].avg_bikes)],
		['Sun', parseInt(available[0].avg_bikes)]
	]);
	var options = {
		title: 'Average number of bikes available per day',
		backgroundColor: 'rgba(225,223,226,0.29)',
		legend: {
			position: 'bottom'
		}
	};
	var chart = new google.visualization.LineChart(document.getElementById('weekly_chart'));
	chart.draw(data, options);
};
//funtion to define the parameters of the hourly occupancy chart
function drawDailyChart(available) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'hour');
	data.addColumn('number', 'Bikes Available');
	data.addRows([
		['6am', parseInt(available[0].avg_bikes)],
		['7am', parseInt(available[1].avg_bikes)],
		['8am', parseInt(available[2].avg_bikes)],
		['9am', parseInt(available[3].avg_bikes)],
		['10am', parseInt(available[4].avg_bikes)],
		['11am', parseInt(available[5].avg_bikes)],
		['12pm', parseInt(available[6].avg_bikes)],
		['1pm', parseInt(available[7].avg_bikes)],
		['2pm', parseInt(available[8].avg_bikes)],
		['3pm', parseInt(available[9].avg_bikes)],
		['4pm', parseInt(available[10].avg_bikes)],
		['5pm', parseInt(available[11].avg_bikes)],
		['6pm', parseInt(available[12].avg_bikes)],
		['7pm', parseInt(available[13].avg_bikes)],
		['8pm', parseInt(available[14].avg_bikes)],
		['9pm', parseInt(available[15].avg_bikes)],
		['10pm', parseInt(available[16].avg_bikes)],
		['11pm', parseInt(available[16].avg_bikes)]
	]);
	var options = {
		title: 'Average number of bikes available for station',
		backgroundColor: 'rgba(225,223,226,0.29)',
		format: 'none',
		legend: {
			position: 'bottom'
		}
	};
	var chart = new google.visualization.LineChart(document.getElementById('daily_chart'));
	chart.draw(data, options);
}
// API key + access to utilize google maps API
</script> <script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyB13DSvYSxFIptwyDuFm4oqFuAeMJiLDmg&callback=initMap"> </script>

<ul>
  <li><a class="active">Developed With Love by Infinite Loop</a></li>
</ul>
</body>
</html>